.button {
  border: none;
  border-radius: 15px;
  display: inline;
  font-size: 2rem;
  margin: 0.45rem;
  padding: 0.75rem;
  width: calc(100% - 0.45rem);

  &.emphasis {
    background: green;
    color: white;

    &:hover {
      background: darken(green, 5);
    }
  }

  &.login:hover {
    background: red;
  }

  &.reset:hover {
    background: white;
  }

  &.neutral {
    background: grey;
    color: black;
  }
}
