.button {
  border: none;
  border-radius: 15px;
  display: inline;
  font-size: 2rem;
  margin: 0.45rem;
  padding: 0.75rem;

  &.emphasis {
    background: var(--yellow);
    color: var(--dark-blue);

    &:hover {
      background: darken(#f3a712, 5);
    }
  }

  &.reset:hover {
    background: var(--dark-blue);
  }

  &.neutral {
    background: var(--white);
    color: var(--dark-blue);

    &:hover {
      background: var(--white);
      color: var(--light-blue)
    }
  }
}
