.button {
  border: none;
  border-radius: 15px;
  display: inline;
  font-size: 2rem;
  margin: 0.45rem;
  padding: 0.75rem;

  &.emphasis {
    background: var(--yellow-hex);
    color: var(--green-hex);

    &:hover {
      background: darken(#f3a712, 5);
    }
  }

  &.reset:hover {
    background: var(--green-hex);
  }

  &.neutral {
    background: var(--white-hex);
    color: var(--green-hex);

    &:hover {
      background: var(--white-hex);
      color: var(--green-hex)
    }
  }
}
