:root {
  @import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
  --fancy-font: 800 8rem 'Nanum Myeongjo', serif;
  --header-font: 800 6rem 'Nanum Myeongjo', serif;
  /* Color Theme Swatches in Hex */
  --black-hex: #28364A;
  --white-hex: #FFEED6;
  --yellow-hex: #F7C45F;
  --red-hex: #D65353;
  --green-hex: #2D5C5C;

  /* Color Theme Swatches in RGBA */
  --black-rgba: rgba(40,54,74, 0.3);
  --white-rgba: rgba(255,238,214, 0.1);
  --yellow-rgba: rgba(247,196,95, 1);
  --red-rgba: rgba(214,83,83, 1);
  --green-rgba: rgba(45,92,92, 1);

  /* Color Theme Swatches in HSLA */
  --black-hsla: hsla(215, 29, 22, 1);
  --white-hsla: hsla(35, 100, 91, 1);
  --yellow-hsla: hsla(39, 90, 67, 1);
  --red-hsla: hsla(0, 61, 58, 1);
  --green-hsla: hsla(180, 34, 26, 1);
  // --white: #ededed;
  // --white-rgb: rgb(237,237,237);
  // --grey: #4d5359;
  // --grey-rgb: rgb(77,83,89);
  // --yellow: #f3a712;
  // --yellow-rgb: rgb(243,167,18);
  // --dark-blue: #153b50;
  // --dark-blue-rgb: rgb(21,59,80);
  // --light-blue: #477890;
  // --light-blue-rgb: rgb(71,120,144);
  --db-bs: rgba(45,92,92,0.7);
  --db-bs-lighter: rgba(0,0,0,0.3);
  --bg-color: var(--white-hex);
  --header-bg-color: var(--black-hex);
  --header-font-color: var(--red-hex);
  --card-bg-color: var(--green-hex);
  --h2-color: var(--red-hex);
  --h3-color: var(--yellow-hex);
}
