* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  height: 100vh;
}

body {
  background: #eaeaea;
  color: #2f2f2f;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Consolas, monospace;
}
